@page "/gracias-por-suscribirte"
@using Microsoft.AspNetCore.Components;
@inject NavigationManager Navigation
@inject IAppSettingsService AppSettingsService

<div class="notice-container pt-5 text-center flex-column">

    <h1>¡Muchas gracias por suscribirte!</h1>
    <p>Muy pronto vas a recibir más novedades</p>
   <button class="btn volver mt-3" @onclick="NavigateToHome">
            <img style="position: relative; top:-1px;" width="24" height="24" src="https://img.icons8.com/material/24/000000/back--v1.png" alt="volver" />VOLVER
        </button>
</div>

@code{
    private NavigationManager NavigationManager { get; set; } = default!;
      

        private void NavigateToHome()
        {
        Navigation.NavigateTo($"{AppSettingsService.Settings?.BaseFront}", forceLoad: true);
        }
}